body{
    background-color: greenyellow;
}
table{
    box-shadow: 5px 5px black;
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center;
}

thead{
    color: red;
}

tfoot{
    color: darkblue;
}

th, td{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px 40px;

}