body{
    background-color: rgb(211, 224, 135);
}
label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }

legend{
    background-color: pink;
    color: purple;
}

.blue{
    color: blue;
}

spara

table, form{
    box-shadow: 5px 10px black;
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center;
    float: left;
    margin: 50px;
    width: 500px;
}