* {
    background-color: rgb(218, 241, 191);
}
.a {
    margin: 40px;
    background-color: #8eaf76;
    width: 150px;
    height: 100px;
}
.b {
    margin: 20px;
    padding: 20px;
    background-color: #65AD31;
    width: 200px;
    height: 250px;
}
.c {
    margin: 30px;
    padding: 30px;
    border: 7px solid #22AABB;
    background-color: #65AD31;
    width: 300px;
    height: 100px;
}